########################################
#     NextAuth Configuration
########################################
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_secret_here   # Minimum 32 characters
########################################
#         OAuth Providers
########################################
GITHUB_ID=your_github_id_here
GITHUB_SECRET=your_github_secret_here
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
########################################
#            reCAPTCHA
########################################
RECAPTCHA_SECRET_KEY=your_recaptcha_secret_here
########################################
#         Email Server (SMTP)
########################################
EMAIL_SERVER_HOST=smtp.example.com
EMAIL_SERVER_PORT=587
EMAIL_SERVER_USER=your_email@example.com
EMAIL_SERVER_PASSWORD=your_password_here
EMAIL_FROM=your_email@example.com
########################################
#             Database
########################################
MONGODB_URI=your_mongo_uri_here
########################################
#       Firebase Configuration
########################################
NEXT_PUBLIC_FIREBASE_API_KEY=your_firebase_api_key_here
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=your_firebase_auth_domain_here
NEXT_PUBLIC_FIREBASE_PROJECT_ID=your_firebase_project_id_here
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=your_firebase_storage_bucket_here
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your_firebase_sender_id_here
NEXT_PUBLIC_FIREBASE_APP_ID=your_firebase_app_id_here
FIREBASE_ADMIN_KEY=your_firebase_admin_key_here
########################################
#        Email API Services
########################################
RESEND_API_KEY=your_resend_api_key_here
